/* TODO : Figure out issues with test and test1 */

:root
{
    --blue-jeans: #66adf9;
    --jordy-blue: #80c1f3;
    --space-cadet: #1c2c4c;
    --ucla-blue: #54699e;
    --silver-lake-blue: #668ebc;
    --deep-koamaru: #2c3157;
}

.projectDiv
{
    width: 100vw;
    height: 300vh;
    background-color: var(--deep-koamaru);
    overflow-y: hidden;
}


.projectSectionHeader
{
    text-align: center;
    font-family: "Nunito";
    font-size: 5.1vw;
    color: var(--jordy-blue);
}

.projectContainer
{
    height: 50vh;
    width: 75vw;
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}

.projectPreview
{
    border-radius: 5%;
}

.projectText
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 40vh;
    width: 40vw;
    float: right;
}

.projectDescDiv
{
    position: absolute;
    top: 50%;
    height: 20vh;
    width: 40vw;
    float: right;
    border-radius: 10px;
}

.projectDescText
{
    font-size: 1.7vw;
    font-family: "Nunito";
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--ucla-blue);
}

.projectTitle
{
    position: absolute;
    font-size: 3vw;
    font-family: "Nunito";
    color: white;
    padding-left: 5px;
    transform: translateY(-3.4vh);
    top: 0;
}

.projectDate
{
    position: absolute;
    font-size: 1.5vw;
    font-family: "Nunito";
    color: var(--blue-jeans);
    padding-left: 5px;
    transform: translateY(-3.8vh);
}

.projectLangs
{
    font-family: "Nunito";
    font-size: 1.5vw;
    color: var(--blue-jeans);
    position: absolute;
    bottom: 1.25vw;
    padding-left: 5px;
    word-spacing: 10px;
}

.projectLinkActions
{
    position: absolute;
    bottom: 0.5vw;
    margin-left: 5px;
    width: 10vw;
    height: 3vh;
}

.projectLinkAction
{
    margin-left: 10px;
    transform: translateX(-10px);
    height: 3vh;
    width: 3vh;
}

.hueGreen
{
    filter: invert(51%) sepia(82%) saturate(479%) hue-rotate(87deg) brightness(107%) contrast(103%);
}

#previewVid
{
    width: 35vw;
    height: 40vh;
    border-radius: 5%;
}

.projectSeparator {
    position: relative;
    top: -3px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.projectSeparator svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
}

.projectSeparator .shape-fill {
    fill: #80C1F3;
}

@media screen and (max-width: 1080px)
{
    .projectContainer
    {
        margin-top: 3vh;
        transform: translateY(15%);
    }

    .projectSectionHeader
    {
        font-size: 2cm;
    }

    .projectPreview
    {
        height: 50vh;
        width: 75vw;
    }

    #previewVid
    {
        height: 50vh;
        width: 75vw;
    }

    .projectDescDiv
    {
        height: 25vh;
        width: 75vw;
        top: 50%;
        transform: translateY(-50%);
        float: left;
    }

    .projectText
    {
        height: 50vh;
        width: 75vw;
        top: 0%;
        border-radius: 5%;
        transform: translateY(-100%);
        background-color: rgba(84, 105, 158, 0.6);
    }

    .projectDate
    {
	    position: relative;
        transform: translateY(-2vh);
        margin-top: 3vh;
        font-size: 4vw;
    }

    .projectTitle
    {
        margin-top: 8vh;
        font-size: 8vw;
    }

    .projectDescText
    {
        font-size: 1.25cm;
        color: #f6f9fc;
    }

    .projectLangs
    {
        font-size: 4vw;
        bottom: 5vh;
    }

    .projectDiv
    {
        height: 290vh;
    }

    #previewVid
    {
        transform: translateX(-1000vh);
    }

    .projectPreviewImg
    {
        height: 50vh;
        width: 75vw;
        position: absolute;
        top:0;
        right:0;
        border-radius: 5%;
    }

    .projectLinkActions
    {
        width: 20vw;
        bottom: 3vh;
    }
}

@media screen and (min-width: 1081px)
{
    .projectDescDiv
    {      
        background-color: var(--space-cadet);
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
        transform: translate(1%, -50%);
    }

    .projectPreviewImg
    {
        transform: translateX(-1000vw);
    }

    .projectPreview
    {
        transform: translateY(12.5%);
        height: 40vh;
        width: 35vw;
        float: left;
    }

    .projectText
    {
        top: 50%;
        transform: translateY(-50%);
        height: 40vh;
        width: 40vw;
        float: right;
    }
}