:root
{
    --blue-jeans: #66adf9;
    --jordy-blue: #80c1f3;
    --space-cadet: #1c2c4c;
    --ucla-blue: #54699e;
    --silver-lake-blue: #668ebc;
    --deep-koamaru: #2c3157;
}

.skillDiv
{
    overflow-y: hidden;
    position: relative;
    width: 100vw;
    height: 185vh;
    background-color: #f6f9fc;
}


.custom-shape-divider-top-1697628222 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1697628222 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
    transform: rotateY(180deg), translateX(-2px);
}

.custom-shape-divider-top-1697628222 .shape-fill {
    fill: var(--deep-koamaru);
}


.skillSectionHeader
{
    text-align: center;
    font-family: "Nunito";
    font-size: 5.1vw;
    color: var(--deep-koamaru);
}

.skillTypeTitle
{
    text-align: center;
    font-family: "Nunito";
    font-size: 2.25vw;
    color: var(--blue-jeans);
}

.skillContainer
{
    position: relative;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    width: 70vw;
    height: 18vh;
    background-color: #f6f9fc;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
}

.skillIcon
{
    position: relative;
    width: 13vh;
    height: 13vh;
    margin-top: 1.5vh;

    transition: all 250ms linear;
}

.skillIcon:hover
{
    width: 13.2vh;
    height: 13.2vh;
    
    transition: all 250ms linear;
}

.skill
{
    margin-left: 20px;
    width: 15vh;
    height: 18vh;
}

.skillName
{
    font-family: "Nunito";
    color: var(--deep-koamaru);
    font-size: 1vw;
    text-align: center;
    transform: translate(-5% ,-80%);
}

@media screen and (max-width: 1080px) {
    .skillSectionHeader
    {
        font-size: 2cm;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        position: relative;
    }

    .skillTypeTitle
    {
        position: relative;
        font-size: 1.5cm;
    }

    .smallSkillIcon
    {
        width: 20vw;
        height: 20vw;
    }

    .skillContainer
    {
        width: 95vw;
        transform: translateX(-51%);
    }

    .skillName
    {
        font-size: 0.75cm;
    }

    .skillDiv
    {
        height: 150vh;
    }
}